* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #eee8ae;
}
blockquote {
  background: #ddd;
  margin-left: 50px;
  padding: 10px;
  padding-left: 30px;
  border-left: 2px solid orange;
}
.main_wrap {
  width: 100%;
}

.header_bg {
  background: #fab72a;
  border-bottom: 5px solid #6b710e;
}

/*-----------------Header Part css------------------*/
#header {
  background: #fab72a;
  padding: 15px;
  border-right: 1px solid #6b710e;
  border-left: 1px solid #6b710e;
}
#header h2 {
  color: #fffff1;
  font-family: georgia;
}
#header p {
  color: #788420;
  font-family: georgia;
}

/*-----------------Nav Part css------------------*/
.nav_bg {
  background: #fff;
  border-bottom: 5px solid #6b710e;
}
#nav {
  background: #ffffff;
  height: 38px;
  border-right: 1px solid #6b710e;
  border-left: 1px solid #6b710e;
}
#nav ul {
  background: #ffffff;
  list-style-type: none;
  z-index: 99999999999;
}
#nav ul li {
  float: left;
  border-right: 1px solid #5b710e;
  position: relative;
}
#nav ul li:last-child {
  border-right: none;
}
#nav ul li a {
  text-decoration: none;
  color: #7a7f25;
  padding: 10px 20px;
  display: block;
  font-family: arial;
  transition: 0.2s all ease;
}
#nav ul li a:hover {
  color: #fff;
  background: #6b710e;
}
#nav ul li ul {
  position: absolute;
  left: -99999px;
}
#nav ul li:hover ul {
  left: 0px;
}
#nav ul li ul li {
  border-right: none;
  border-bottom: 1px solid #5b710e;
  width: 200px;
  border-left: 5px solid #6b710e;
  position: relative;
}
#nav ul li ul li:first-child {
  border-top: 5px solid #6b710e;
}
#nav ul li ul li:last-child {
  border-bottom: none;
}
/*-----------------Sub Dropdown Part css------------------*/

#nav ul li ul li ul {
  position: absolute;
  top: -99999px;
}
#nav ul li ul li:hover ul {
  top: 0px;
  left: 200px;
}
#ul li ul li ul li {
  border-left: 5px solid #6b710e;
}
#nav ul li ul li ul li:first-child {
  border-top: none;
}
/*-----------------Slider Part css------------------*/
.slider_bg {
  background: #222222;
}
#slider_wraper {
  border-right: 1px solid #6b710e;
  border-left: 1px solid #6b710e;
}
#img img {
  width: 960px;
  vertical-align: middle;
}

/*-----------------Content Part css------------------*/
.content_bg {
  background: #fff;
}
#content_wrapper {
  background: #ffffff;
  padding: 10px;
  overflow: hidden;
  border-right: 1px solid #6b710e;
  border-left: 1px solid #6b710e;
}
#content {
  width: 620px;
  margin-right: 20px;
  float: left;
}
#content h2 {
  color: #6b710e;
  font-family: arial;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 23px;
}
#content h3 {
  color: #6b710e;
  font-family: arial;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 20px;
}
#content p {
  margin: 15px 0px;
  font-size: 15px;
}
#content img {
  width: 450px;
}
#content figcaption {
  text-align: center;
  color: green;
  font-family: arial;
  font-weight: bold;
}
#content figure {
  width: 450px;
  padding: 10px;
  background: #ddd;
  margin: 0px auto;
  display: block;
}
#sidebar {
  float: left;
  width: 295px;
}
#sidebar h2 {
  color: #6b710e;
}
#sidebar ul li {
  border-bottom: 1px solid #d5a6a6;
  margin-bottom: 3px;
}
#sidebar ul li:last-child {
  border-bottom: none;
}
#sidebar ul li a {
  text-decoration: none;
  color: #6b710e;
  padding: 3px;
  display: block;
}

/*-----------------Footer Part css------------------*/
.footer_bg {
  background: #635548;
}
#footer {
  background: #635548;
  padding: 10px;
  text-align: center;
}
#footer p {
  color: white;
}

/*-----------------Landing Page css------------------*/
#main_article_single {
  margin-bottom: 25px;
  border-bottom: 1px solid #635584;
  overflow: hidden;
}
#impg_wrap img {
  width: 75px;
  height: 75px;
  background: #fff;
  border: 1px solid #ddd;
  margin-right: 5px;
  float: left;
}
#impg_wrap p {
  float: left;
  width: 500px;
  margin-top: 0px;
}
#impg_wrap {
  margin-top: 10px;
}

#main_sidebar {
  border-bottom: 1px solid #6b710e;
  margin-bottom: 25px;
  overflow: hidden;
}
#main_sidebar ul li {
  padding-left: 10px;
}

#main_sidebar h2 {
  margin-bottom: 10px;
}
